@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url(./assets/background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
}
h1 {
  font-family: 'Alex Brush', cursive;
  font-size: 3rem;
  color: #0F8A5F;
  text-shadow: 2px 2px #fae26c;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  color: #34A65F;
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.circle {
  background-color: transparent;
  border: 1px solid #34A65F;
  border-radius: 50%;
  color: #5b5b5b;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle.active {
  background: url('./assets/snow.jpg') center center/cover;

}

.score {
  font-weight: 400;
  font-family: "Snowburst One", sans-serif;
  font-size: 2rem;
}

input, button  {
  padding:0.8rem 2rem;
  font-family: inherit;
  font-size: inherit;
  border-radius: 10px;
  border: none;
  margin: 2rem;
  color: #D5A84C;
}

button {
  background-color: aliceblue;
  color: #0F8A5F;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    background-color: #fae26c;
}
}

input {
  font-family: inherit;
  font-size: inherit;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  justify-items: center;
  align-items: center;
  color: #34A65F;
}

.gameover_box {
  background: white;
  padding: 1rem;
  width: 40%;
  min-height: 25%;
  border-radius: 5px;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
}

.gameover_box button {
  background-color: transparent;
  position: absolute;
  font-weight: 400;
  top: -15px;
  right: -15px;
  cursor: pointer;
  padding:0
}

.game_info {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}